@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 100%;
  max-width: 1452px;
  margin: 0 auto;
  padding: 20px;
}

/* header styles */

header {
  height: 100vh;
  background-image: url('../images/png/header-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 28.5px;
  padding-bottom: 33px;
}

.sitenav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-left {
  display: flex;
  align-items: center;
}

.menu-btn {
  display: none;
}
.sitenav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}
.nav-link {
  color: white;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.33px;
}

.nav-link:hover {
  color: #f39c11;
}

.sitenav-icons {
  display: flex;
  gap: 26px;
}

/* main */

main {
  flex-grow: 1;
}

/* responsive */

@media (max-width: 900px) {
  .logo {
    width: 160px;
    height: 75px;
  }
  .sitenav-icons a img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .sitenav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

@media (max-width: 450px) {
  header {
    background-image: url('../images/png/header-bg-mobile.png');
  }
}
